In [6]:
"""print output 

A = 5 & G = M
A = 2 & G = F
"""
A = int(input("A : "))
G = input("G : ")
if ((A == 1 or A == 2) and G =="M"):
    print("fee is 100")
elif((A == 3  or A == 4) and G =="F"):
    print("fee is 200")
elif (A ==5 and G =="M"):
    print("fee is 300")
else:
    print("no fee")

A : 5
G : M
fee is 300

In [ ]:
# conditional statement 
# single line if / ternory operator

food = input("food : ")
eat = "yes" if food == "cake" else "no"
print(eat)

In [3]:
food = input("food : ")
print("sweet") if food == "cake" or food == "jalebi" else print(" not sweet")

food : cake
sweet

In [ ]:
age = int(input("age : "))
vote = ("yes","no") [age <= 18]
print(vote)
"""if (age<18):
    vote = "yes"
else:
    vote = "no
"""

In [ ]:
##>50000 10% tex
##<50000 20% tax
sal = float(input(" salary : "))
tax = sal*(0.1,0.2)[sal<=50000]
print(tax)

In [2]:
p = float(input("p : "))
r = float(input("r : "))
t = float(input("t : "))
si = (p*r*t)/100
print(si)

p : 20
r : 30
t : 40
240.0

In [9]:
# grade students based on marks 

marks = int(input("enter a marks: "))
if(marks >= 90):
    grade = "A"
elif(marks >= 80 and marks < 90):
    grade = "B"
elif(marks >= 70 and marks < 80):
    grade = "C"
else:
    grade = "D"
print("grade of the student", grade)

enter a marks: 85
grade of the student B

In [16]:
# nesting if else


age = int(input("enter a age: "))
if (age >=18):
    if (age >80 ):
        print("cannot drive")
    else:
        print("can drive")
else:
    print("cannot drive")

enter a age: 90
cannot drive

In [19]:
#  print odd and even number
num = int(input("enter a number: "))
rem = num % 2
if (rem == 0):
    print("EVEN")
else:
    print("ODD")

enter a number: 4
EVEN

In [21]:
# print odd and even number
num = int(input("enter a number: "))
if(num % 2) == 0:
    print("This number is even")
else: 
    print("This number is odd")

enter a number: 4
This number is even

In [27]:
a = int(input("enter a first number: "))
b = int(input("enter a second number: "))
c = int(input("enter a thurd number: "))

if (a >=b and b>=c):
    print("first number is largest",a)
    
elif(b>=c):
    print("second number is largest",b)
    
else:
    print("thurd number is largest",c)

enter a first number: 85
enter a second number: 74
enter a thurd number: 95
thurd number is largest 95

In [2]:
# number of multiple of 5 or not

x = int(input("enter a number: "))
if (x %5  == 0):
    print("multiple of 5")
else:
    print("not a miltiple 5")

enter a number: 5
multiple of 5

In [ ]:
movies = []
first = input("enter a first movie name ")
second = input("enter a second movie name ")
thurd = input("enter a thurd movie name ")
movies.append(first)
movies.append(second)
movies.append(thurd)

print(movies)

In [2]:
## loop in python

count = 1
while count <=5:
    print("hello nishad")
    count += 1
print(count)

hello nishad
hello nishad
hello nishad
hello nishad
hello nishad
6

In [1]:
# print 1 to 100
i = 1
while i<=100:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [2]:
i = 100
while i<=1:
    print(i)
    i -= 1

In [4]:
n = int(input("enter a number"))
i = 1
while i<=10:
    print(n*i)
    i+=1

enter a number5
5
10
15
20
25
30
35
40
45
50

In [3]:
## recursive fuction 

def show(n):
    if (n == 0):
        return
    print(n)
    show(n-1)
show(5)

5
4
3
2
1